Van Helsing {
    color: #0b0d0f;
    color: #708ca9;
    color: #414d58;
    color: #f8f8f2;
    color: #9580ff;
    color: #8aff80;
    color: #ffca80;
    color: #ff80bf;
    color: #80ffea;
    color: #ff9580;
    color: #ffff80;
}
